<div class="results-page">
  <h1 style={padding: 10}>Your results</h1>
  <!-- use hbs #each to loop through results. just writing html for one result -->
  <ul class="list-group">
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5>Buddakan</h5>
            <p>Here is a blurb about Buddakan. </p>
          </div>
          <div class="col l3 s12">
            <h5>Your specs</h5>
            <ul>
              <li><a href="#!">Address: </a></li>
              <li><a href="#!">Phone Number: </a></li>
              <li><a href="#!">Rating: </a></li>
              <li><a href="#!">Hours: </a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
<div>
