    <form id="form" method="post" action="/form" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
          <div id="guests">
            <input name="guestCount" type = 'text' placeholder="Guest Count" class= 'row'>
          </div>
          <div id = 'start'>
            <input placeholder="start time" name="date"type = 'date'class = 'row'>
          </div>
          <div id="hours">
            <input name="hours" type = 'text' placeholder="Number of hours" class= 'row'>
          </div>
          <div id = 'price'>
              <select name="price">
                <option disabled selected>Choose Your Price Type</option>
                <option>Open Bar</option>
                <option>Minimum Spend</option>
              </select>
          </div>
          <div id = 'row6'>
            <button type="submit" class='Submit' id='Submit'>Submit</button>
          </div>
        </form>
