<div class="panel panel-default">
 <!-- Default panel contents -->
 <div class="panel-heading">{{venue.name}}</div>
 <div class="panel-body">
   <div>{{venue.name}} is located at {{venue.address}}.</div>
   <!-- map? -->
 </div>
</div>
